.AppHeader {
  $block: AppHeader;
  height: $app-header-height;
  background-color: $theme-primary;
  color: $light;
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  @include boxShadow();

  &__left,
  &__right {
    width: $app-header-height;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__center {
    flex: 1;
    display: flex;
    padding: 0 $gutter-s;
    vertical-align: middle;
    align-items: center;
  }

  &__title {
    font-size: $font-m;
  }

  &--disableShadow {
    box-shadow: none;
  }

  &--light {
    background-color: $light;
    color: $dark
  }

  &--dark {
    color: $light
  }

  &--transparent {
    background-color: transparent;
    box-shadow: none;
  }
}