.ChatItem {
  display: flex;
  border-bottom: .5px solid $gray;
  padding: $gutter-sm;
  cursor: pointer;

  &__photo {
    width: 50px;
    height: 50px;
    background-color: $dark-gray;
    border-radius: 50%;
    margin-right: $gutter-sm;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $light;
    font-weight: bold;
    font-size: $font-l;
    line-height: 18px;
    cursor: pointer;
  }

  &__image-title {}

  &__textWrapper {
    flex: 1;
    width: 100%;
  }

  &__title {
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    margin-bottom: $gutter-xs;
  }

  &__description {
    cursor: pointer;
    font-size: $font-xs;
    display: inline-block;
    width: 100%;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}