.ProfileSidebar {
  padding: $gutter-m 0;

  text-align: center;


  &__photo {
    background-color: $dark-gray;
    margin: auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-size: contain;
    background-position: center;
    margin-bottom: $gutter-m;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__letterName {
    color: $light;
    font-size: $font-jumbo;
  }
}