.Container {
  position: relative;
  padding-top: $app-header-height;
  padding-left: $gutter-m;
  padding-right: $gutter-m;
  height: 100%;

  &--no-padding {
    padding-right: 0;
    padding-left: 0;
  }
}