.BaseContainer {
  $block: BaseContainer;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  &__body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
  }

  &--no-header {
    .#{$block}__body {
      margin-top: 0;
    }
  }
}